<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button color="primary" (click)="liste()" mat-raised-button class="buton">Lista
      vanzari</button>
    <button color="primary" (click)="newSale()" mat-raised-button class="buton">Vanzare
      noua</button>
    <button color="primary" [matMenuTriggerFor]="appMenu" mat-raised-button class="buton">Rapoarte
      vanzari</button>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="submenuAnual">Anuale</button>
      <button mat-menu-item [matMenuTriggerFor]="submenuLunar">Lunare</button>
      <button mat-menu-item (click)="saptamanal()">Saptamana curenta</button>
      <button mat-menu-item [matMenuTriggerFor]="submenuLunarComision">Luna comision</button>
    </mat-menu>

    <mat-menu #submenuAnual="matMenu">
      <button mat-menu-item *ngFor="let x of items" (click)="anual(x.an)">{{x.an}}</button>
    </mat-menu>

    <mat-menu #submenuLunar="matMenu">
        <button mat-menu-item [matMenuTriggerData]="x" *ngFor="let x of items" [matMenuTriggerFor]="submenuLunarAn">{{x.an}}</button>
    </mat-menu>

    <mat-menu #submenuLunarComision="matMenu">
      <button mat-menu-item [matMenuTriggerData]="z" *ngFor="let z of lunaComision" [matMenuTriggerFor]="submenuLunarAnComision">{{z.an}}</button>
  </mat-menu>

    <mat-menu #submenuLunarAn="matMenu">
      <ng-template matMenuContent let-luni="luni" let-an="an">
        <button mat-menu-item  *ngFor="let y of luni" (click)="lunar(an,y)">{{y}}</button>
      </ng-template>
    </mat-menu>

    <mat-menu #submenuLunarAnComision="matMenu">
      <ng-template matMenuContent let-luni="luni" let-an="an">
        <button mat-menu-item  *ngFor="let y of luni" (click)="lunarComision(an,y)">{{y}}</button>
      </ng-template>
    </mat-menu>
      
  </mat-toolbar-row>
</mat-toolbar>

<div [ngSwitch]="cadran">
  
  <div *ngSwitchCase="'list'">
    <mat-card>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input (keyup)="applyFilter($event)" matInput>
      </mat-form-field>
  
      <div class="mat-elevation-z8 gri tabel">
        <table mat-table class="gri" [dataSource]="tempSales">
  
  
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data_sale | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_client}} </td>
          </ng-container>
  
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_contact}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="produse">
            <th mat-header-cell *matHeaderCellDef> Produse </th>
            <td mat-cell *matCellDef="let element"> {{element.produse}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="valoare_fara_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare fara TVA </th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_fara_tva}} </td>
          </ng-container>
  
          <ng-container matColumnDef="valoare_cu_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare cu TVA </th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_cu_tva | number:'3.0-2'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="procent_comision">
            <th mat-header-cell *matHeaderCellDef> Procent comision </th>
            <td mat-cell *matCellDef="let element"> {{element.procent_comision | percent}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_livrare">
            <th mat-header-cell *matHeaderCellDef> Data livrare </th>
            <td mat-cell *matCellDef="let element"> {{element.data_livrare | date: 'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_plata">
            <th mat-header-cell *matHeaderCellDef> Data plata </th>
            <td mat-cell *matCellDef="let element"> {{element.data_plata | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="luna_comision">
            <th mat-header-cell *matHeaderCellDef> Luna comision </th>
            <td mat-cell *matCellDef="let element"> {{element.luna_comision | date:'MMM-yyyy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="platit">
            <th mat-header-cell *matHeaderCellDef> Platit </th>
            <td mat-cell *matCellDef="let element"> {{element.platit}} </td>
          </ng-container>
  
          <ng-container matColumnDef="zile_plata">
            <th mat-header-cell *matHeaderCellDef> Zile plata </th>
            <td mat-cell *matCellDef="let element"> {{element.zile_plata}} </td>
          </ng-container>
  
          <ng-container matColumnDef="tichete">
            <th mat-header-cell *matHeaderCellDef> Tichete </th>
            <td mat-cell *matCellDef="let element"> {{element.tichete | number:'2.0'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note_sale}} </td>
          </ng-container>
  
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editareSale(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  
    </mat-card>
  </div>

  <div *ngSwitchCase="'edit'">
    <mat-card>
      <mat-card-title>{{this.titlu}}</mat-card-title>
      <mat-card-subtitle>
        

        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Data sale</mat-label>
          <input matInput [matDatepicker]="picker4" [(ngModel)]="sale.data_sale" name="sale.data_sale" required>
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker4></mat-datepicker>
          <mat-hint>obligatoriu</mat-hint>
        </mat-form-field>

  
        <mat-form-field class="ms-5" appearance="fill">
          <mat-label>Client</mat-label>
          <mat-select [(ngModel)]="sale.client_id" name="value">
            <mat-option *ngFor="let client of clients" [value]="client.id">
              {{client.nume_client}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="fill">
          <mat-label>Contact</mat-label>
          <mat-select [(ngModel)]="sale.contact_id" name="value">
            <mat-option *ngFor="let contact of contacts" [value]="contact.id">
              {{contact.nume_contact}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Produse</mat-label>
          <input matInput [(ngModel)]="sale.produse" name="sale.produse">
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Valoare fara TVA</mat-label>
          <input matInput [(ngModel)]="sale.valoare_fara_tva" name="sale.valoare_fara_tva">
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Valoare cu TVA</mat-label>
          <input matInput [(ngModel)]="sale.valoare_cu_tva" name="sale.valoare_cu_tva">
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Procent comision</mat-label>
          <input matInput [(ngModel)]="sale.procent_comision" name="sale.procent_comision">
          <mat-hint>cu virgula</mat-hint>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Data livrare</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="sale.data_livrare" name="sale.data_livrare">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Data plata</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="sale.data_plata" name="sale.data_plata">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Luna comision</mat-label>
          <input matInput [matDatepicker]="picker3" [(ngModel)]="sale.luna_comision" name="sale.luna_comision" required>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 startView="year"></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Platit(true/false)</mat-label>
          <input matInput [(ngModel)]="sale.platit" name="sale.platit">
        </mat-form-field>
  
  
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Zile plata</mat-label>
          <input matInput [(ngModel)]="sale.zile_plata" name="sale.zile_plata">
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Tichete</mat-label>
          <input matInput [(ngModel)]="sale.tichete" name="sale.tichete">
        </mat-form-field>
  
        <mat-form-field class="ms-5" appearance="standard">
          <mat-label>Note</mat-label>
          <input matInput [(ngModel)]="sale.note_sale" name="sale.note_sale">
        </mat-form-field>
        <mat-card-actions>
          <button color="primary" (click)="salvare()" mat-raised-button>Salvare</button>
          <button color="primary" (click)="cancel()" mat-raised-button>Cancel</button>
        </mat-card-actions>
  
      </mat-card-subtitle>
  
  
    </mat-card>
  </div>

  <div *ngSwitchCase="'anual'">
    <mat-card>
      <div class="mat-elevation-z8 gri total">
        <mat-label class="ms-5">Comenzi: {{numarComenzi}}</mat-label>
        <mat-label class="ms-5">Valoare fara TVA: {{valoareFaraTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Valoare cu TVA: {{valoareCuTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Tichete: {{tichete}}</mat-label>
        <mat-label class="ms-5">Comision: {{comision | number:'3.0-2'}}</mat-label>
      </div>
       
      <div class="mat-elevation-z8 gri tabel">
        <table mat-table class="gri" [dataSource]="tempSales">
  
  
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data_sale | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_client}} </td>
          </ng-container>
  
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_contact}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="produse">
            <th mat-header-cell *matHeaderCellDef> Produse </th>
            <td mat-cell *matCellDef="let element"> {{element.produse}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="valoare_fara_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare fara TVA</th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_fara_tva}} </td>
          </ng-container>
  
          <ng-container matColumnDef="valoare_cu_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare cu TVA </th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_cu_tva | number:'3.0-2'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="procent_comision">
            <th mat-header-cell *matHeaderCellDef> Procent comision </th>
            <td mat-cell *matCellDef="let element"> {{element.procent_comision | percent}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_livrare">
            <th mat-header-cell *matHeaderCellDef> Data livrare </th>
            <td mat-cell *matCellDef="let element"> {{element.data_livrare | date: 'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_plata">
            <th mat-header-cell *matHeaderCellDef> Data plata </th>
            <td mat-cell *matCellDef="let element"> {{element.data_plata | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="luna_comision">
            <th mat-header-cell *matHeaderCellDef> Luna comision </th>
            <td mat-cell *matCellDef="let element"> {{element.luna_comision | date:'MMM-yyyy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="platit">
            <th mat-header-cell *matHeaderCellDef> Platit </th>
            <td mat-cell *matCellDef="let element"> {{element.platit}} </td>
          </ng-container>
  
          <ng-container matColumnDef="zile_plata">
            <th mat-header-cell *matHeaderCellDef> Zile plata </th>
            <td mat-cell *matCellDef="let element"> {{element.zile_plata}} </td>
          </ng-container>
  
          <ng-container matColumnDef="tichete">
            <th mat-header-cell *matHeaderCellDef> Tichete </th>
            <td mat-cell *matCellDef="let element"> {{element.tichete | number:'2.0'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note_sale}} </td>
          </ng-container>
  
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editareSale(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  
    </mat-card>
  </div>

  <div *ngSwitchCase="'lunar'">
    <mat-card>
      <div class="mat-elevation-z8 gri total">
        <mat-label class="ms-5">Comenzi: {{numarComenzi}}</mat-label>
        <mat-label class="ms-5">Valoare fara TVA: {{valoareFaraTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Valoare cu TVA: {{valoareCuTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Tichete: {{tichete}}</mat-label>
        <mat-label class="ms-5">Comision: {{comision | number:'3.0-2'}}</mat-label>
      </div>
      <div class="mat-elevation-z8 gri total" *ngIf="lunaraComision">
        <mat-label class="ms-5" >Comision Incasate: {{comisionIncasate | number:'1.0-2'}}</mat-label>
        <mat-label class="ms-5" >Comision Neincasate: {{comisionNeincasate | number:'1.0-2'}}</mat-label>
        <mat-label class="ms-5" >Comision Total: {{comisionTotal | number:'1.0-2'}}</mat-label>
      </div>
       
      <div class="mat-elevation-z8 gri tabel">
        <table mat-table class="gri" [dataSource]="tempSales">
  
  
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data_sale | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_client}} </td>
          </ng-container>
  
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_contact}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="produse">
            <th mat-header-cell *matHeaderCellDef> Produse </th>
            <td mat-cell *matCellDef="let element"> {{element.produse}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="valoare_fara_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare fara TVA</th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_fara_tva}} </td>
          </ng-container>
  
          <ng-container matColumnDef="valoare_cu_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare cu TVA </th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_cu_tva | number:'3.0-2'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="procent_comision">
            <th mat-header-cell *matHeaderCellDef> Procent comision </th>
            <td mat-cell *matCellDef="let element"> {{element.procent_comision | percent}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_livrare">
            <th mat-header-cell *matHeaderCellDef> Data livrare </th>
            <td mat-cell *matCellDef="let element"> {{element.data_livrare | date: 'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_plata">
            <th mat-header-cell *matHeaderCellDef> Data plata </th>
            <td mat-cell *matCellDef="let element"> {{element.data_plata | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="luna_comision">
            <th mat-header-cell *matHeaderCellDef> Luna comision </th>
            <td mat-cell *matCellDef="let element"> {{element.luna_comision | date:'MMM-yyyy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="platit">
            <th mat-header-cell *matHeaderCellDef> Platit </th>
            <td mat-cell *matCellDef="let element"> {{element.platit}} </td>
          </ng-container>
  
          <ng-container matColumnDef="zile_plata">
            <th mat-header-cell *matHeaderCellDef> Zile plata </th>
            <td mat-cell *matCellDef="let element"> {{element.zile_plata}} </td>
          </ng-container>
  
          <ng-container matColumnDef="tichete">
            <th mat-header-cell *matHeaderCellDef> Tichete </th>
            <td mat-cell *matCellDef="let element"> {{element.tichete | number:'2.0'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note_sale}} </td>
          </ng-container>
  
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editareSale(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  
    </mat-card>
    
  </div>

  <div *ngSwitchCase="'saptamanal'">
    <mat-card>
      <div class="mat-elevation-z8 gri total">
        <mat-label class="ms-5">Comenzi: {{numarComenzi}}</mat-label>
        <mat-label class="ms-5">Valoare fara TVA: {{valoareFaraTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Valoare cu TVA: {{valoareCuTva | number:'3.0-2'}}</mat-label>
        <mat-label class="ms-5">Tichete: {{tichete}}</mat-label>
        <mat-label class="ms-5">Comision: {{comision | number:'3.0-2'}}</mat-label>

        
      </div>
       
      <div class="mat-elevation-z8 gri tabel">
        <table mat-table class="gri" [dataSource]="tempSales">
  
  
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data_sale | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_client}} </td>
          </ng-container>
  
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_contact}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="produse">
            <th mat-header-cell *matHeaderCellDef> Produse </th>
            <td mat-cell *matCellDef="let element"> {{element.produse}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="valoare_fara_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare fara TVA</th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_fara_tva}} </td>
          </ng-container>
  
          <ng-container matColumnDef="valoare_cu_tva">
            <th mat-header-cell *matHeaderCellDef> Valoare cu TVA </th>
            <td mat-cell *matCellDef="let element"> {{element.valoare_cu_tva | number:'3.0-2'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="procent_comision">
            <th mat-header-cell *matHeaderCellDef> Procent comision </th>
            <td mat-cell *matCellDef="let element"> {{element.procent_comision | percent}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_livrare">
            <th mat-header-cell *matHeaderCellDef> Data livrare </th>
            <td mat-cell *matCellDef="let element"> {{element.data_livrare | date: 'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="data_plata">
            <th mat-header-cell *matHeaderCellDef> Data plata </th>
            <td mat-cell *matCellDef="let element"> {{element.data_plata | date:'dd-MMM-yy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="luna_comision">
            <th mat-header-cell *matHeaderCellDef> Luna comision </th>
            <td mat-cell *matCellDef="let element"> {{element.luna_comision | date:'MMM-yyyy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="platit">
            <th mat-header-cell *matHeaderCellDef> Platit </th>
            <td mat-cell *matCellDef="let element"> {{element.platit}} </td>
          </ng-container>
  
          <ng-container matColumnDef="zile_plata">
            <th mat-header-cell *matHeaderCellDef> Zile plata </th>
            <td mat-cell *matCellDef="let element"> {{element.zile_plata}} </td>
          </ng-container>
  
          <ng-container matColumnDef="tichete">
            <th mat-header-cell *matHeaderCellDef> Tichete </th>
            <td mat-cell *matCellDef="let element"> {{element.tichete | number:'2.0'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note_sale}} </td>
          </ng-container>
  
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editareSale(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  
    </mat-card>
  </div>
</div>